@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;

    --subtle: 0 0% 98%;

    --disabled: 240 5% 96%;
    --disabled-foreground: 240 5% 65%;

    --strong: 240 6% 90%;

    --inverse: 240 6% 10%;
    --inverse-foreground: 220 14% 96%;

    --primary: 240 6% 10%;
    --primary-foreground: 240 10% 4%;
    --primary-hover-foreground: 240 4% 16%;
    --primary-border: 240 6% 10%;

    --success-foreground: 163 94% 24%;
    --success-strong: 161 94% 30%;
    --success-strong-foreground: 166 91% 9%;
    --success-muted: 138 76% 97%;
    --success-muted-hover: 138 76% 97%;
    --success-muted-active: 141 84% 93%;
    --success-muted-border: 156 72% 67%;
    --success-border: 160 84% 39%;
    --secondary: 240 5% 96%;
    --secondary-hover: 240 6% 90%;
    --secondary-active: 240 5% 96%;

    --error-foreground: 0 72% 51%;
    --error-active-foreground: 0 63% 31%;
    --error-strong: 0 75% 15%;
    --error-strong-foreground: 0 75% 15%;
    --error-strong-hover: 0 74% 42%;
    --error-strong-active: 0 72% 51%;
    --error-strong-active-foreground: 0 63% 31%;
    --error-muted: 0 86% 97%;
    --error-muted-hover: 0 93% 94%;
    --error-muted-active: 0 96% 89%;
    --error-border: 0 72% 51%;
    --error-hover-border: 0 74% 42%;
    --error-active-border: 0 70% 35%;
    --error-muted-border: 0 91% 71%;

    --warning-foreground: 35 92% 33%;
    --warning-strong: 45 93% 47%;
    --warning-strong-foreground: 26 83% 14%;
    --warning-muted: 55 92% 95%;
    --warning-muted-hover: 55 97% 88%;
    --warning-muted-active: 53 98% 77%;
    --warning-muted-border: 48 96% 53%;
    --warning-border: 41 96% 40%;
    --warning-text: 50 98% 64%;

    --info-foreground: 221 83% 53%;
    --info-strong: 221 83% 53%;
    --info-strong-foreground: 224 64% 33%;
    --info-muted: 214 100% 97%;
    --info-muted-hover: 214 95% 93%;
    --info-muted-active: 213 97% 87%;
    --info-muted-border: 213 94% 68%;
    --info-border: 221 83% 53%;

    --interactive-foreground: 221 83% 53%;
    --interactive: 221 83% 53%;
    --interactive-strong-foreground: 224 64% 33%;
    --interactive-hover: 224 76% 48%;
    --interactive-hover-border: 221 83% 53%;
    --interactive-active: 226 71% 40%;
    --interactive-active-border: 224 76% 48%;
    --interactive-muted: 214 100% 97%;
    --interactive-muted-hover: 214 95% 93%;
    --interactive-muted-active: 213 97% 87%;
    --interactive-border: 217 91% 60%;
    --interactive-focus-border: 217 91% 60%;

    --magic-foreground: 271 81% 56%;
    --magic: 262 83% 58%;
    --magic-strong-foreground: 274 66% 32%;
    --magic-hover: 263 70% 50%;
    --magic-active: 263 69% 42%;
    --magic-muted: 250 100% 98%;
    --magic-muted-hover: 251 91% 95%;
    --magic-muted-active: 251 95% 92%;
    --magic-muted-border: 252 95% 85%;
    --magic-border: 262 83% 58%;

    --icon: 240 6% 10%;
    --icon-disabled: 240 5% 65%;
    --icon-muted: 240 4% 46%;
    --icon-inverse: 220 13% 91%;
    --icon-on-color: 0 0% 98%;
    --icon-primary: 240 6% 10%;
    --icon-success: 163 94% 24%;
    --icon-error: 0 72% 51%;
    --icon-warning: 35 92% 33%;
    --icon-info: 221 83% 53%;
    --icon-interactive: 221 83% 53%;
    --icon-magic: 271 81% 56%;

    --elevated: 240 5% 96%;

    --focus-ring-border: 217 91% 60%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;

    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --placeholder-foreground: 240 4% 46%;
    --on-color-foreground: 0 0% 100%;

    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 90%;
    --border-on-color: 0 0% 98%;
    --border-hover: 240 5% 84%;
    --border-disabled: 220 13% 91%;
    --input: 240 6% 90%;
    --input-border: 240 6% 90%;
    --input-hover-border: 240 82% 76%;
    --ring: 217 91% 60%;

    --radius: 0.5rem;

    --brand-primary-50: 76 85% 95%;
    --brand-primary-100: 77 86% 89%;
    --brand-primary-200: 77 87% 79%;
    --brand-primary-300: 77 87% 68%;
    --brand-primary-400: 77 86% 57%;
    --brand-primary-500: 77 87% 47%;
    --brand-primary-600: 77 86% 37%;
    --brand-primary-700: 77 86% 28%;
    --brand-pirmary-800: 76 81% 20%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;

    --subtle: 240 6% 10%;

    --disabled: 240 6% 10%;
    --disabled-foreground: 240 5% 34%;

    --strong: 240 4% 16%;

    --inverse: 240 5% 96%;
    --inverse-foreground: 221 39% 11%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 98%;
    --primary-hover: hsla(0, 0%, 98%, 0.898);
    --primary-hover-foreground: 240 6% 90%;
    --primary-active: 0 0% 98%;

    --success-foreground: 156 72% 67%;
    --success-strong: 156 72% 67%;
    --success-strong-foreground: 152 81% 96%;
    --success-muted: 145 80% 10%;
    --success-muted-hover: 145 80% 10%;
    --success-muted-active: 144 61% 20%;
    --success-border: 160 84% 39%;
    --success-muted-border: 163 94% 24%;

    --secondary: 240 4% 16%;
    --secondary-hover: 240 4% 16% 0.8;
    --secondary-active: 240 4% 16%;

    --error-foreground: 0 91% 71%;
    --error-strong: 0 91% 71%;
    --error-strong-foreground: 0 86% 97%;
    --error-strong-hover: 0 94% 82%;
    --error-strong-active: 0 91% 71%;
    --error-strong-active-foreground: 0 93% 94%;
    --error-active-foreground: 0 93% 94%;
    --error-muted: 0 75% 15%;
    --error-muted-hover: 0 63% 31%;
    --error-muted-active: 0 70% 35%;
    --error-border: 0 91% 71%;
    --error-hover-border: 0 94% 82%;
    --error-active-border: 0 96% 89%;
    --error-muted-border: 0 72% 51%;

    --warning-foreground: 50 98% 64%;
    --warning-strong: 45 93% 47%;
    --warning-strong-foreground: 55 92% 95%;
    --warning-muted: 26 83% 14%;
    --warning-muted-hover: 28 73% 26%;
    --warning-muted-active: 32 81% 29%;
    --warning-border: 48 96% 53%;
    --warning-muted-border: 39 96% 40%;

    --info-foreground: 213 94% 68%;
    --info-strong: 213 94% 68%;
    --info-strong-foreground: 214 95% 93%;
    --info-muted: 226 57% 21%;
    --info-muted-hover: 224 63% 32%;
    --info-muted-active: 226 71% 40%;
    --info-border: 213 94% 68%;
    --info-muted-border: 221 83% 53%;

    --interactive-foreground: 213 94% 68%;
    --interactive: 213 94% 68%;
    --interactive-strong-foreground: 214 95% 93%;
    --interactive-hover: 212 96% 78%;
    --interactive-active: 213 97% 87%;
    --interactive-muted: 226 57% 21%;
    --interactive-muted-hover: 224 63% 32%;
    --interactive-muted-active: 226 71% 40%;
    --interactive-border: 217 91% 60%;
    --interactive-hover-border: 213 94% 68%;
    --interactive-active-border: 212 96% 78%;
    --interactive-focus-border: 217 91% 60%;

    --magic-foreground: 270 95% 75%;
    --magic: 255 92% 76%;
    --magic-strong-foreground: 269 100% 95%;
    --magic-hover: 252 95% 85%;
    --magic-active: 251 95% 92%;
    --magic-muted: 261 73% 23%;
    --magic-muted-hover: 264 67% 35%;
    --magic-muted-active: 263 69% 42%;
    --magic-border: 255 92% 76%;
    --magic-muted-border: 263 70% 50%;

    --icon: 210 20% 98%;
    --icon-disabled: 240 5% 34%;
    --icon-muted: 240 5% 65%;
    --icon-inverse: 215 28% 17%;
    --icon-on-color: 221 39% 11%;
    --icon-primary: 0 0% 98%;
    --icon-success: 156 72% 67%;
    --icon-error: 0 91% 71%;
    --icon-warning: 50 98% 64%;
    --icon-info: 213 94% 68%;
    --icon-interactive: 213 94% 68%;
    --icon-magic: 270 95% 75%;

    --elevated: 240 4% 16%;

    --focus-ring-border: 217 91% 60%;

    --card: 240 10% 4%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 6% 10%;
    --primary-border: 0 0% 98%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --placeholder-foreground: 240 4% 46%;
    --on-color-foreground: 224 71% 4%;

    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 16%;
    --border-on-color: 240 10% 4%;
    --border-hover: 240 5% 26%;
    --border-disabled: 215 28% 17%;
    --input: 240 4% 16%;
    --input-border: 240 4% 16%;
    --input-hover-border: 240 5% 26%;
    --ring: 217 91% 60%;

    --brand-primary-50: 76 85% 95%;
    --brand-primary-100: 77 86% 89%;
    --brand-primary-200: 77 87% 79%;
    --brand-primary-300: 77 87% 68%;
    --brand-primary-400: 77 86% 57%;
    --brand-primary-500: 77 87% 47%;
    --brand-primary-600: 77 86% 37%;
    --brand-primary-700: 77 86% 28%;
    --brand-pirmary-800: 76 81% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .brand-primary-gradient {
    @apply from-brand-500 bg-gradient-to-r to-[#e0ff92];
  }
}
