@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;

    --subtle: #fafafa;

    --disabled: #f4f4f5;
    --disabled-foreground: #a1a1aa;

    --strong: #e4e4e7;

    --inverse: #18181b;
    --inverse-foreground: #f3f4f6;

    --primary: #18181b;
    --primary-foreground: #09090b;
    --primary-hover-foreground: #27272a;
    --primary-border: #18181b;

    --success-foreground: #047857;
    --success-strong: #059669;
    --success-strong-foreground: #022c22;
    --success-muted: #f0fdf4;
    --success-muted-hover: #f0fdf4;
    --success-muted-active: #dcfce7;
    --success-muted-border: #6ee7b7;
    --success-border: #10b981;
    --secondary: #f4f4f5;
    --secondary-hover: #e4e4e7;
    --secondary-active: #f4f4f5;

    --error-foreground: #dc2626;
    --error-active-foreground: #7f1d1d;
    --error-strong: #450a0a;
    --error-strong-foreground: #450a0a;
    --error-strong-hover: #b91c1c;
    --error-strong-active: #dc2626;
    --error-strong-active-foreground: #7f1d1d;
    --error-muted: #fef2f2;
    --error-muted-hover: #fee2e2;
    --error-muted-active: #fecaca;
    --error-border: #dc2626;
    --error-hover-border: #b91c1c;
    --error-active-border: #991b1b;
    --error-muted-border: #f87171;

    --warning-foreground: #a16207;
    --warning-strong: #eab308;
    --warning-strong-foreground: #422006;
    --warning-muted: #fefce8;
    --warning-muted-hover: #fef9c3;
    --warning-muted-active: #fef08a;
    --warning-muted-border: #facc15;
    --warning-border: #ca8a04;
    --warning-text: #fde047;

    --info-foreground: #2563eb;
    --info-strong: #2563eb;
    --info-strong-foreground: #1e3a8a;
    --info-muted: #eff6ff;
    --info-muted-hover: #dbeafe;
    --info-muted-active: #bfdbfe;
    --info-muted-border: #60a5fa;
    --info-border: #2563eb;

    --interactive-foreground: #2563eb;
    --interactive: #2563eb;
    --interactive-strong-foreground: #1e3a8a;
    --interactive-hover: #1d4ed8;
    --interactive-hover-border: #2563eb;
    --interactive-active: #1e40af;
    --interactive-active-border: #1d4ed8;
    --interactive-muted: #eff6ff;
    --interactive-muted-hover: #dbeafe;
    --interactive-muted-active: #bfdbfe;
    --interactive-border: #3b82f6;
    --interactive-focus-border: #3b82f6;

    --magic-foreground: #9333ea;
    --magic: #7c3aed;
    --magic-strong-foreground: #581c87;
    --magic-hover: #6d28d9;
    --magic-active: #5b21b6;
    --magic-muted: #f5f3ff;
    --magic-muted-hover: #ede9fe;
    --magic-muted-active: #ddd6fe;
    --magic-muted-border: #c4b5fd;
    --magic-border: #7c3aed;

    --icon: #18181b;
    --icon-disabled: #a1a1aa;
    --icon-muted: #71717a;
    --icon-inverse: #e5e7eb;
    --icon-on-color: #fafafa;
    --icon-primary: #18181b;
    --icon-success: #047857;
    --icon-error: #dc2626;
    --icon-warning: #a16207;
    --icon-info: #2563eb;
    --icon-interactive: #2563eb;
    --icon-magic: #9333ea;

    --elevated: #f4f4f5;

    --focus-ring-border: #3b82f6;

    --card: #ffffff;
    --card-foreground: #09090b;

    --popover: #ffffff;
    --popover-foreground: #09090b;

    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;

    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --placeholder-foreground: #71717a;
    --on-color-foreground: #ffffff;

    --accent: #f4f4f5;
    --accent-foreground: #18181b;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --border: #e4e4e7;
    --border-on-color: #fafafa;
    --border-hover: #d4d4d8;
    --border-disabled: #e5e7eb;
    --input: #e4e4e7;
    --input-border: #e4e4e7;
    --input-hover-border: #d4d4d8;
    --ring: #3b82f6;

    --facto-primary-green: #A3DE10;

    --radius: 0.5rem;

    --facto-primary-green: #A3DE10;
    --facto-secondary-green: #E0FF92;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;

    --subtle: #18181b;

    --disabled: #18181b;
    --disabled-foreground: #52525b;

    --strong: #27272a;

    --inverse: #f4f4f5;
    --inverse-foreground: #111827;

    --primary: #fafafa;
    --primary-foreground: #fafafa;
    --primary-hover: #fafafae5;
    --primary-hover-foreground: #e4e4e7;
    --primary-active: #fafafa;

    --success-foreground: #6ee7b7;
    --success-strong: #6ee7b7;
    --success-strong-foreground: #ecfdf5;
    --success-muted: #052e16;
    --success-muted-hover: #052e16;
    --success-muted-active: #14532d;
    --success-border: #10b981;
    --success-muted-border: #047857;

    --secondary: #27272a;
    --secondary-hover: #27272acc;
    --secondary-active: #27272a;

    --error-foreground: #f87171;
    --error-strong: #f87171;
    --error-strong-foreground: #fef2f2;
    --error-strong-hover: #fca5a5;
    --error-strong-active: #f87171;
    --error-strong-active-foreground: #fee2e2;
    --error-active-foreground: #fee2e2;
    --error-muted: #450a0a;
    --error-muted-hover: #7f1d1d;
    --error-muted-active: #991b1b;
    --error-border: #f87171;
    --error-hover-border: #fca5a5;
    --error-active-border: #fecaca;
    --error-muted-border: #dc2626;

    --warning-foreground: #fde047;
    --warning-strong: #eab308;
    --warning-strong-foreground: #fefce8;
    --warning-muted: #422006;
    --warning-muted-hover: #713f12;
    --warning-muted-active: #854d0e;
    --warning-border: #facc15;
    --warning-muted-border: #ca8404;

    --info-foreground: #60a5fa;
    --info-strong: #60a5fa;
    --info-strong-foreground: #dbeafe;
    --info-muted: #172554;
    --info-muted-hover: #1e3a84;
    --info-muted-active: #1e40af;
    --info-border: #60a5fa;
    --info-muted-border: #2563eb;

    --interactive-foreground: #60a5fa;
    --interactive: #60a5fa;
    --interactive-strong-foreground: #dbeafe;
    --interactive-hover: #93c5fd;
    --interactive-active: #bfdbfe;
    --interactive-muted: #172554;
    --interactive-muted-hover: #1e3a84;
    --interactive-muted-active: #1e40af;
    --interactive-border: #3b82f6;
    --interactive-hover-border: #60a5fa;
    --interactive-active-border: #93c5fd;
    --interactive-focus-border: #3b82f6;

    --magic-foreground: #c084fc;
    --magic: #a78bfa;
    --magic-strong-foreground: #f3e8ff;
    --magic-hover: #c4b5fd;
    --magic-active: #ddd6fe;
    --magic-muted: #2e1065;
    --magic-muted-hover: #4c1d95;
    --magic-muted-active: #5b21b6;
    --magic-border: #a78bfa;
    --magic-muted-border: #6d28d9;

    --icon: #f9fafb;
    --icon-disabled: #52525b;
    --icon-muted: #a1a1aa;
    --icon-inverse: #1f2937;
    --icon-on-color: #111827;
    --icon-primary: #fafafa;
    --icon-success: #6ee7b7;
    --icon-error: #f87171;
    --icon-warning: #fde047;
    --icon-info: #60a5fa;
    --icon-interactive: #60a5fa;
    --icon-magic: #c084fc;

    --elevated: #27272a;

    --focus-ring-border: #3b82f6;

    --card: #09090b;
    --card-foreground: #fafafa;

    --popover: #09090b;
    --popover-foreground: #fafafa;

    --primary: #fafafa;
    --primary-foreground: #18181b;
    --primary-border: #fafafa;

    --secondary: #27272a;
    --secondary-foreground: #fafafa;

    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --placeholder-foreground: #71717a;
    --on-color-foreground: #030712;

    --accent: #27272a;
    --accent-foreground: #fafafa;

    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;

    --border: #27272a;
    --border-on-color: #09090b;
    --border-hover: #3f3f46;
    --border-disabled: #1f2937;
    --input: #27272a;
    --input-border: #27272a;
    --input-hover-border: #3f3f46;
    --ring: #3b82f6;

    --facto-primary-green: #A3DE10;
    --facto-secondary-green: #E0FF92;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
